body { 
   margin: 0;
   padding: 0px;

   display: flex;
   justify-content: center;
   align-items: center;
   font-family: consolas, monospace;

   min-height: 100vh;
   background-color: #212121;
}

a {
   color: #FF6A98;
   font-size: 1.5rem;
   position: relative;
   display: inline-block;

   padding: 1rem 1.875rem;
   letter-spacing: 4px;
   
   text-transform: uppercase;
   text-decoration: none;

   overflow: hidden;
   transition: 0.2s;
}

a span {
   position: absolute;
   display: block;
}

a span:nth-child(1) { 
   top: 0;
   left: -100%;
   width: 100%;
   height: 2px;
   background: linear-gradient(90deg, transparent, #FF6A98);
}

a:hover span:nth-child(1) { 
   left: 100%;
   transition: 1s;
}
a span:nth-child(3) { 
   bottom: 0;
   right: -100%;
   width: 100%;
   height: 2px;
   background: linear-gradient(270deg, transparent, #FF6A98);
}

a:hover span:nth-child(3) { 
   right: 100%;
   transition: 1s;
   transition-delay: 0.5s;
}

a span:nth-child(2) { 
   top: -100%;
   right: 0;
   width: 2px;
   height: 100%;
   background: linear-gradient(180deg, transparent, #FF6A98);
}

a:hover span:nth-child(2) { 
   top: 100%;
   transition: 1s;
   transition-delay: 0.25s;
}

a span:nth-child(4) { 
   bottom: -100%;
   left: 0;
   width: 2px;
   height: 100%;
   background: linear-gradient(360deg, transparent, #FF6A98);
}

a:hover span:nth-child(4) { 
   bottom: 100%;
   transition: 1s;
   transition-delay: 0.75s;
}